<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>CRUDOperation</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FormValidation</display-name>
    <servlet-name>FormValidation</servlet-name>
    <servlet-class>ServletFiles.FormValidation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FormValidation</servlet-name>
    <url-pattern>/FormValidation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeteleServlet</display-name>
    <servlet-name>DeteleServlet</servlet-name>
    <servlet-class>ServletFiles.DeteleServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeteleServlet</servlet-name>
    <url-pattern>/DeteleServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteUser</display-name>
    <servlet-name>DeleteUser</servlet-name>
    <servlet-class>DBOperation.DeleteUser</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteUser</servlet-name>
    <url-pattern>/DeleteUser</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteServlet</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>ServletFiles.DeleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newsw</display-name>
    <servlet-name>newsw</servlet-name>
    <servlet-class>ServletFiles.newsw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newsw</servlet-name>
    <url-pattern>/newsw</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditServlet</display-name>
    <servlet-name>EditServlet</servlet-name>
    <servlet-class>ServletFiles.EditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditServlet</servlet-name>
    <url-pattern>/EditServlet</url-pattern>
  </servlet-mapping>
</web-app>